
    .layout {
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header header"
        "sidebar content"
        "footer footer";
      ;
      min-height: 100vh;


    }

    header {
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .nav {
      padding: 1rem;
    }

    .header {
      grid-area: header;
      background: #492d03;
      color: white;
      padding: 20px;
      text-align: center;
    }

    .sidebar {
      grid-area: sidebar;
      background-image: linear-gradient(to top, yellow, white);
      padding: 20px;
      border: 2px solid black;
    }

    .content {
      grid-area: content;
      padding: 20px;
      text-align: center;
    }

    .footer {
      grid-area: footer;
      background: #492d03;
      color: white;
      padding: 15px;
      text-align: center;
    }

    .container {
      display: flex;
      gap: 1rem;
      background-color: rgb(255, 255, 255);
      padding: 2rem;
      text-align: center;
    }

    .item {
      align-items: center;
      position: relative;
      width: 200px;
      height: 380px;
      ;
      border: 2px solid #022c43;
      background-color: #f4fdff;
      padding: 1rem;
      font-family: Arial, sans-serif;
      font-size: 1.2rem;
      align-items: center;
      color: rgb(0, 0, 0);
      border-radius: 6px;

    }

    .item2 {
      align-items: center;
      position: relative;
      width: 200px;
      height: 380px;
      ;
      border: 2px solid #022c43;
      background-color: #f4fdff;
      padding: 1rem;
      font-family: Arial, sans-serif;
      font-size: 1.2rem;
      color: rgb(0, 0, 0);
      border-radius: 6px;
      align-items: center;

    }

    .item4 {
      align-items: center;
      position: relative;
      width: 200px;
      height: 380px;
      ;
      border: 2px solid #022c43;
      background-color: #f4fdff;
      padding: 1rem;
      font-family: Arial, sans-serif;
      font-size: 1.2rem;
      color: rgb(0, 0, 0);
      border-radius: 6px;
      align-items: center;

    }


    /* Adding badge using ::after pseudo-element */
    .item::after {
      content: "#Best Seller";
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      background: rgb(244, 255, 141);
      color: rgb(0, 0, 0);
      padding: 8px;
      padding: 8px;
      font-size: 0.8rem;
      border-radius: 4px;
    }

    .item2:after {
      content: "20% Off";
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      background: rgb(2, 91, 255);
      color: white;
      padding: 8px;
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
      border-radius: 4px;
    }

    .item4:after {
      content: "10% Off";
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      background: rgb(255, 10, 10);
      color: white;
      padding: 8px;
      padding: 0.50rem 0.5rem;
      font-size: 0.8rem;
      border-radius: 4px;
    }

    ul {
      font-size: medium;
      padding: 1rem;
    }

    button {
      padding: 10px;
      background-color: rgb(217, 255, 146);
      border: 2px solid black;
      border-radius: 4px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;


    }

    .productcontainer {
      display: flex;
      text-align: center;


    }

    svg {
      vertical-align: middle;

    }

    .col1 {
      border: 2px solid black;
      padding: 2rem;
      margin: 1%;
      text-align: center;
      border-radius: 8px;
      background-color: rgba(252, 253, 162, 0.459);
    }

    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;

    }

    table {
      margin-top: 40%;
      text-align: left;

      color: #000000;
      font-size: large;
    }


    @media(max-width:760px) {
      .layout {
        grid-template-columns: 1fr;
        grid-template-areas: "header"
          "sidebar"
          "content"
          "footer";
      }
    }

    .cart {
      position: relative;
      border-radius: 10%;
      font-size: large;
      padding: 12px;

      position: fixed;

    }

    input {
      padding: 5px;
      border-radius: 5px;
      margin: 2px;
      width: 200px;
    }

    .cart::after {
      content: "5+";
      position: absolute;
      top: 0.25rem;
      left: 0.30rem;

      background: rgb(233, 41, 41);
      color: white;
      padding: 2px;
      padding: 0.12rem 0.5rem;
      font-size: 0.7rem;
      border-radius: 70px;
      border: 1px solid white;
      margin: 2px;

    }

    .bi bi-amazon {
      display: flex;
      align-items: center;

    }
  