
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      padding: 15px;
      text-align: left;

    }

    .grid-item {
      padding: 12px;
    }

    .news {
      font-size: 400%
    }

    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;


    }

    .paper {
      padding: 20px;
      border: 2px solid black;
      margin: 1%;
    }

    .item {

      border: 2px solid rgb(0, 0, 0);
      padding: 1rem;
      margin: 0.5rem;
      flex: 1 1 1px;
      text-align: center;


    }

    img {
      padding: 20px;
      ;
    }

    h1 {
      font-size: 40px;
      margin-left: 7%;
    }

    .quote {
      border: 2px solid black;
      padding: 4%;
      background-color: rgb(243, 241, 239);
      margin: 20px;
    }

    .net {
      border: 2px double black;
      ;
    }
 